name: Test runner
on: push

jobs:

  inspect:
    name: space
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check Disk Usage
        run: |
          df -h /
          du -sh /* 2>/dev/null | sort -hr | head -10
          uname -m  # Bonus: Confirms x64 vs. aarch64
